<!-- Experience -->
            <section id="section4">
                <div class="container">
                    <h2>Over 10 Years of Development Experience</h2>
                    <div class="experience-timeline">
                        <div class="experience-block clearfix">
                            <div class="meta">
                                <span class="year">2014 - Current</span>
                                <span class="company">Priceline Partner Network</span>
                            </div>
                            <!-- end .meta -->
                            <div class="content">
                                <h5>Senior Developer</h5>
                                <p></p>
                            </div>
                            <!-- end .content -->
                            <div class="icon">
                                <i class="ion-easel"></i>
                            </div>
                            <!-- end .icon -->
                            <div class="line"></div>
                        </div>
                        <!-- end .experience-block -->


                        <div class="experience-block clearfix">
                            <div class="meta">
                                <span class="year">2005 - Current</span>
                                <span class="company">Guanasoft (Freelance)</span>
                            </div>
                            <!-- end .meta -->
                            <div class="content">
                                <h5>Full Stack Developer</h5>
                                
                            </div>
                            <!-- end .content -->
                            <div class="icon">
                                <i class="ion-card"></i>
                            </div>
                            <!-- end .icon -->
                        </div>
                        <!-- end .experience-block -->

                        <div class="experience-block clearfix">
                            <div class="meta">
                                <span class="year">2016 - 2017</span>
                                <span class="company">DSGAuto</span>
                            </div>
                            <!-- end .meta -->
                            <div class="content">
                                <h5>Senior Full Stack Developer</h5>
                                
                            </div>
                            <!-- end .content -->
                            <div class="icon">
                                <i class="ion-card"></i>
                            </div>
                            <!-- end .icon -->
                        </div>
                        <!-- end .experience-block -->
                        

                        <div class="experience-block clearfix">
                            <div class="meta">
                                <span class="year">2011 - 2014</span>
                                <span class="company">Workerbee.tv</span>
                            </div>
                            <!-- end .meta -->
                            <div class="content">
                                <h5>Full Stack Developer</h5>
                                
                            </div>
                            <!-- end .content -->
                            <div class="icon">
                                <i class="ion-images"></i>
                            </div>
                            <!-- end .icon -->
                            <div class="line"></div>
                        </div>
                        <!-- end .experience-block -->




                        <div class="experience-block clearfix">
                            <div class="meta">
                                <span class="year">October 2010 - November 2010</span>
                                <span class="company">Project WhiteCard</span>
                            </div>
                            <!-- end .meta -->
                            <div class="content">
                                <h5>Software Developer</h5>
                                
                            </div>
                            <!-- end .content -->
                            <div class="icon">
                                <i class="ion-card"></i>
                            </div>
                            <!-- end .icon -->
                        </div>
                        <!-- end .experience-block -->



                        <div class="experience-block clearfix">
                            <div class="meta">
                                <span class="year">2007 - 2008</span>
                                <span class="company">University of Winnipeg Collegiate</span>
                            </div>
                            <!-- end .meta -->
                            <div class="content">
                                <h5>Computer Lab Assistant</h5>
                                
                            </div>
                            <!-- end .content -->
                            <div class="icon">
                                <i class="ion-card"></i>
                            </div>
                            <!-- end .icon -->
                        </div>
                        <!-- end .experience-block -->

                        <div class="experience-block clearfix">
                            <div class="meta">
                                <span class="year">2004 - 2005</span>
                                <span class="company">Colegio Centro America</span>
                            </div>
                            <!-- end .meta -->
                            <div class="content">
                                <h5>Computer Lab Assistant</h5>
                                
                            </div>
                            <!-- end .content -->
                            <div class="icon">
                                <i class="ion-card"></i>
                            </div>
                            <!-- end .icon -->
                        </div>
                        <!-- end .experience-block -->



                    </div>
                    <!-- end .experience-timeline -->



                    <!-- Testimonials -->
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2">
                            <div class="testimonial-slider owl-carousel">
                                <div>
                                    <!--<div class="image"><img src="../static/images/testimonial.jpg" alt="alt text">
                                    </div>-->
                                    <div class="sep"></div>
                                    <p>"Ronald is an excellent, and hard worker in PHP-MYSQL environment, and web technologies.. Knowledgeable, funny, and quick-witted, he will get your web project up and sailing - he's one of _those_ developers (the one you need!)"</p>
                                    <span class="author"> Khal Shariff, CEO, Project Whitecard Inc.</span>
                                </div>
                                <div>
                                    <!--<div class="image"><img src="../static/images/testimonial.jpg" alt="alt text">
                                    </div>-->
                                    <div class="sep"></div>
                                    <p>"Ronald was a very conscientious and hard working student. He was well liked by his classmates and tutored many throughout his program. During his studies at the UW Ronald made a very positive impression on all the staff and his instructors. We think highly of him and encourage him to continue on with his aspirations.”</p>
                                    <span class="author">Stevi Dram, Director, ICT Studies, University of Winnipeg</span>
                                </div>
                                <div>
                                    <!--<div class="image"><img src="../static/images/testimonial.jpg" alt="alt text">
                                    </div>-->
                                    <div class="sep"></div>
                                    <p>Ronald is an excellent coder, I am very impressed with his work. He does exceptional work in WordPress. I will hire this guy, time and time again. He is a pleasant and detail oriented guy to hire!"</p>
                                    <span class="author">Karl Delgadillo (WordPress Website Designer)</span>
                                </div>
                                <div>
                                    <!--<div class="image"><img src="../static/images/testimonial.jpg" alt="alt text">
                                    </div>-->
                                    <div class="sep"></div>
                                    <p>I've hired Ron for a few different projects over the last 2 year and am always VERY impressed with his work. He's very smart and talented and does exceptional work. If you are looking for someone in his field then HE is defiantly the guy to hire! But hire him right now... before I put him on another contract lol :)"</p>
                                    <span class="author">David St.Germain</span>
                                </div>
                            </div>
                            <!-- end .testimonial-slider -->
                        </div>
                        <!-- end .col-sm-8 -->
                    </div>
                    <!-- end .row -->

                </div>
                <!-- end .container -->
            </section>
            <!-- end #section1 -->