<!-- Home -->
            <section id="section1" class="no-padding-bottom active">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-7 vertical-center padding-fix">
                            <h1>Full Stack Developer</h1>
                            
                            <p>Application developer with over 10 years of experience in Web Applications, Server Administration & Web Security.</p>
                            <p>Design, develop and implement web applications that support day-to-day operations.</p>
                            <p>Develop technical solutions that definitively improve scalability, performance and profits.</p>
                            <p>Experience with Agile software development.</p>
                            <p>Takes initiative, works well as part of a team and individually.</p>
                            <p>Fast learner with strong problem solving abilities and a willingness and eagerness to learn new skills.</p>
                            <p>Experience in performing manual exploitation and mitigating security issues as per OWASP Top 10s.</p>
                            <p>Excellent oral and written communication skills in English and Spanish.</p>

                            <p class="button-row"><a href="#section8" class="button solid-button white">Hire Me Now</a>

                            <!--<a href="#" class="button solid-button purple">Download CV</a>
                            </p>-->

                        </div>
                        <!-- end .col-sm-7 -->
                         <!--<div class="col-sm-5 vertical-center">
                            <img src="../static/images/man01.png" alt="man" class="img-responsive section-img">
                        </div>-->
                        <!-- end .col-sm-5 -->
                    </div>
                    <!-- end .row -->
                </div>
                <!-- end .container -->
            </section>
            <!-- end #section1 -->
