{% extends "layout.html" %}
  
{% block content %}
  
    
    <!-- Sections -->
    <div class="sections">
        <div class="sections-wrapper clearfix">

            
            {% include 'home.html'  %}

            {# include 'about.html'  #}

            {% include 'skills.html'  %}

            {% include 'experience.html'  %}

            {% include 'education.html'  %}

            {% include 'portfolio.html'  %}
            
            {#  include 'blog.html'  #}
            
            {% include 'contact.html'  %}


        </div>
        <!-- end .sections-wrapper -->
    </div>
    <!-- end .sections -->


{% endblock %}